.container {
    display: flex;
    width: 100%;
    max-width: 80rem;
    height: 600px;
    margin-bottom: -140px;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
  }
  
  .rightSection {
    width: 65%;
    background-color: #13465C;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  
  .welcome {
    font-size: 47px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  
  .inputContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .input {
    width: 70%;
    padding: 0.75rem 1rem;
    padding-left: 40px;
    border-radius: 15px;
    background-color: #ffff;
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .inputIcon {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    width: 18px;
    height: 18px;
  }
  
  .input:focus {
    outline: none;
    border-color: #3B82F6;
  }
  
  .loginButton {
    width: 45%;
    padding: 0.75rem 1rem;
    background-color: #980E10;
    color: white;
    border-radius: 15vh;
    transition: background-color 0.2s;
    text-align: center;
  }
  
  .loginButton:hover {
    background-color: #6B0000;
  }
  