.container {
  display: flex;
  width: 100%;
  max-width: 80rem;
  height: 600px;
  margin-bottom: -140px;
  background-color: white;
  border-radius: 0.5rem;
  border-radius: 30px ;
  overflow: hidden;
}
.inputIcon {
  position: absolute;
  left: 130px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  width: 16px;
  height: 16px;
}

.leftSection {
  width: 50%;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;

  justify-content: center;
}

.robotImage {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  width: 40rem;
  height: 40rem;
  z-index: 10;
}

.logo {
  position: absolute;
  bottom: 2.5rem;
  left: 2.5rem;
}

.logoText {
  font-size: 2.25rem;
  font-weight: 700;
  color: #1B3B4B;
}

.rightSection {
  width: 65%;
  background-color: #13465C;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  border: 20px;
  justify-content: center;
 
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.welcome {
  font-size: 47px;
  font-weight: 700;
  color: white;
  margin-left: 200px;
  margin-bottom: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.inputContainer {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.input {
  padding-left: 40px !important; /* Add left padding to make room for the icon */

  width: 70%;
  margin-left: 110px;
  padding: 0.75rem 1rem;
  border-radius: 15px;
  background-color: #ffff;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.logoImage{

 margin-bottom: 100px;
 
}
.input:focus {
  outline: none;
  border-color: #3B82F6;
}

.loginButton {
  width: 45%;

  padding: 0.75rem 1rem;
  background-color: #980E10;
  color: white;
  margin-left: 150px;
  border-radius: 15vh;
  transition: background-color 0.2s;
}

.loginButton:hover {
  background-color: #6B0000;
}

.links {
  margin-bottom: -1 0px;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  margin-left:  150px;
  flex-direction: column;
  gap: 0.05rem;
}

.link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.link:hover {
  color: white;
}