@font-face {
  font-family: 'pop';
  src: url('path/to/montserrat-subradaya.woff2') format('woff2'),
       url('/src/assets/fonts//Poppins-Bold.ttf') format('woff');
}

.containerProduct {
    background-image: url('/src/assets/image/PRODUCT.png');
    background-size: 100% 1060px; /* Stretch the image to fit the container */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
  }
  .container img {
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    width: 100%;
    height: 100%;
  }
.backgroundImageProduct {
  position: absolute;
  top: 56%;
  left: 52%;
  width: 850px;
  height: 1000px;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 0;
  animation: fadeIn 1.5s ease-in forwards;
}

.mainContentProduct {
  padding: 20px;
  z-index: 1;
}

.Wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}


.backgroundImageProduct h1 {
  font-size: 37px;
  z-index: 2;
  position: absolute;
  right: 480px;
  bottom: 940px;
  line-height: 20px;
  width: 1000px;
  font-family: 'pop';
}
.slider h1 {
  font-size: 37px;
  z-index: 2;
  position: absolute;
  right: 1050px;
  bottom: 565px;
  line-height: 20px;
  width: 1000px;
  font-family: 'pop';
}